#crm-container .crm-button_qf_ContributionView_submit_issue_tax_receipt {
  display: block;
  padding: 2px 4px;
}

#crm-container #_qf_ContributionView_submit_issue_tax_receipt-top,
#crm-container #_qf_ContributionView_submit_issue_tax_receipt-bottom {
  background: url("../img/mapleleaf_white.png") no-repeat 2px 100%;
  min-height: 18px;
  padding: 0px 6px;
  text-indent: 16px;
}

.crm-container .ui-dialog-buttonset [data-identifier="_qf_ContributionView_submit_issue_tax_receipt"] .ui-icon-check {
  background: url("../img/mapleleaf_white.png") no-repeat 2px 100%;
}

#crm-container .crm-button_qf_ContributionView_submit_view_tax_receipt {
  display: block;
  padding: 2px 4px;
}

#crm-container #_qf_ContributionView_submit_view_tax_receipt-top,
#crm-container #_qf_ContributionView_submit_view_tax_receipt-bottom {
  background: url("../img/mapleleaf_red.png") no-repeat 2px 100%;
  min-height: 18px;
  padding: 0px 6px;
  text-indent: 16px;
}

.crm-container .ui-dialog-buttonset [data-identifier="_qf_ContributionView_submit_view_tax_receipt"] .ui-icon-check {
  background: url("../img/mapleleaf_red.png") no-repeat 2px 100%;
}

#crm-container .cdntax_summary label {
    margin-left: 10px;
}

#crm-container .cdntax_summary label {
    margin-left: 5px;
}
